* {
    margin: 0;
    list-style: none;
    text-decoration: none;
}


header {
    width: 100%;
    height: 100vh;
    z-index: -2;
    background: url(../images/backgrounds/LT_header-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Estructura Nav */

nav {
    height: 80px;
    width: 100%;
    position: fixed;
    background: rgba(23, 16, 21, 0.9);
    z-index: 1000;
    /* Coloca el menú en un nivel superior */
}

.url {
    position: absolute;
    padding: 20px;
}

.logo {
    height: 40px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    margin-right: 10px;
}

nav ul li a {
    color: #8b1118;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
}

.checkbtn {
    font-size: 30px;
    color: #8b1118;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1240px) {
    .url {
        padding-left: 20px;
    }

    .logo {
        height: 30px;
    }

    nav ul li a {
        color: #8b1118;
        font-size: 18px;
    }

}

@media (max-width: 980px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(23, 16, 21, 0.8);
        top: 80px;
        left: -150%;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 30px;
    }

    #check:checked~ul {
        left: 0;
    }

    .logo {
        height: 20px;
        margin-left: 5px;
    }

    header {
        background-image: url(../images/backgrounds/LT_header.jpg);
    }

}

/* Section Music */

#music {
    background-image: url(../images/backgrounds/background.png);
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    max-width: 100%;
    /* Para asegurar que la imagen no se estire más allá de su tamaño original */
    background-size: cover;
    padding: 30px;
}

.music-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-title {
    font-size: 70px;
    text-align: right;
    margin-right: 30px;
    font-family: 'Libre Baskerville', serif;
    color: black;
}

.album {
    margin: 60px;
    max-width: 80%;
    /* Limita el ancho del div de la imagen al 80% del contenedor */
    margin: 0 auto;
    /* Centra el div horizontalmente */
    margin: 30px;
}

#album-cover {
    height: 500px;
}

.platforms {
    max-width: 80%;
    /* Limita el ancho del div de los textos al 80% del contenedor */
    margin: 0 auto;
    /* Centra el div horizontalmente */
    margin: 20px;
}

#button {
    background-color: black;
    height: 45px;
    color: #8b1118;
    font-size: 20px;
}

.album-title {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: black;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Crea tres columnas de igual ancho */
    gap: 10px;
    /* Espacio entre las columnas */
    margin-top: 50px;
}

.image-box {
    position: relative;
}

.image-box img {
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #8b1118;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
}

.overlay a {
    text-decoration: none;
    color: #8b1118;
}

.image-box:hover .overlay {
    opacity: 2;
}


@media (max-width: 780px) {

    .album,
    .platforms {
        max-width: 100%;
        /* En pantallas pequeñas, permite que los divs ocupen todo el ancho */
    }

    #album-cover {
        height: 300px;
    }

    .music-title {
        font-size: 40px;
    }

    .overlay {
        font-size: 15px;
    }

    .container {
        grid-template-columns: 1fr;
        /* Cambia a una sola columna */
    }

}


/* Section store*/


#store {
    background-image: url(../images/backgrounds/background-2.png);
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    max-width: 100%;
    /* Para asegurar que la imagen no se estire más allá de su tamaño original */
    background-size: cover;
    padding: 30px;
}

#store h1 {
    color: #8b1118;
    font-size: 70px;
    text-align: left;
    margin-right: 30px;
    font-family: 'Libre Baskerville', serif;
}

.custom-image {
    max-width: 100%;
    /* Ajusta el ancho máximo de la imagen según tu preferencia */
    max-height: 500px;
    /* Ajusta la altura máxima de la imagen según tu preferencia */
    width: auto;
    /* Asegura que la imagen mantenga su relación de aspecto original */
    height: auto;
    margin: 0 auto;
}

.texto {
    margin: 0 auto;
    color: #8b1118;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 20px;
}

.texto a {
    color: #8b1118;
}

@media (max-width: 768px) {

    .carousel-control-prev,
    .carousel-control-next {
        margin: 20px;
        position: absolute;
        margin-top: 400px;
        transform: translateX(-10%);
        /* Centra horizontalmente */
        margin-right: 10px;
    }

    #store h1 {
        font-size: 40px;
    }
}



/* Section merch */

#merch {
    background-image: url(../images/backgrounds/background-2.png);
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    max-width: 100%;
    /* Para asegurar que la imagen no se estire más allá de su tamaño original */
    background-size: cover;
    padding: 30px;
}

#merch h1 {
    color: #8b1118;
    font-size: 70px;
    text-align: left;
    margin-right: 30px;
    font-family: 'Libre Baskerville', serif;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Crea tres columnas de igual ancho */
    gap: 10px;
    /* Espacio entre las columnas */
    margin-top: 50px;
    justify-content: center;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */
    text-align: center;
    margin: 20px;
}

.image-box p {
    text-align: center;
    color: #8b1118;
    font-family: 'Libre Baskerville', serif;
    margin: 10px;
    display: inline-block;
}

.image-box a {
    color: #8b1118;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

@media (max-width: 768px) {
    .container2 {
        grid-template-columns: 1fr;
        /* Cambia a una sola columna */
    }

    #merch h1 {
        font-size: 40px;
    }
}

/* Section tour */


#tour {
    background-image: url(../images/backgrounds/section-tour.jpg);
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    max-width: 100%;
    /* Para asegurar que la imagen no se estire más allá de su tamaño original */
    background-size: cover;
    padding: 30px;
}

#tour h1 {
    color: black;
    font-size: 70px;
    text-align: right;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-top: 90px;
}

.tour-dates li {
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
}

.dates {
    border-bottom: 2px solid #000;
    /* Línea de 1 píxel de color negro */
    width: 700px;
    padding: 20px;
}

.dates li {
    font-family: 'Libre Baskerville', serif;
    color: #000;
}

.date {
    font-size: 40px;
}

.venue {
    font-size: 15px;
}

.place {
    font-size: 20px;
    font-weight: bold;
}

.dates a {
    color: #000;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}

.dates {
    border-bottom: 2px solid #000;
    /* Línea de 2 píxeles de color negro */
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    padding: 20px;
    text-align: center;
    /* Centra el texto en dispositivos móviles */
}

.dates span {
    display: block;
    /* Coloca cada línea de texto en un bloque separado */
}

@media (max-width: 768px) {
    #tour h1 {
        font-size: 40px;
    }
}

/* estilos formulario registro */

body {
    width: 100%;
    height: 100vh;
    z-index: -2;
    background: url(../images/backgrounds/form-backgroud.png);
    background-size: cover;
    background-position: center center;
}

.forms {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    /* Establece un ancho máximo para el formulario */
    width: 90%;
    /* Ajusta el ancho en pantallas pequeñas */
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.forms img {
    width: 300px;
}

.forms h2 {
    font-family: 'Libre Baskerville', serif;
    color: #8b1118;
}

.submit-button {
    background-color: #8b1118;
    /* Cambia este valor al color de fondo que desees */
    color: white;
    /* Cambia este valor al color del texto que desees */
    border: none;
    /* Elimina el borde predeterminado si lo deseas */
    padding: 10px 20px;
    /* Ajusta el relleno según tus necesidades */
    cursor: pointer;
    /* Cambia el cursor al pasar el mouse */
    margin-top: 10px;
    border-radius: 5px;
}


.alert {
    width: 200px;
    height: 80px;
    text-align: center;
    margin: 5px;
}

.show {
    opacity: 1;
    transition: opacity 0.5s;
}

/* Añade la siguiente regla para ocultar el alert después de 3 segundos */
.show.hide {
    opacity: 0;
}

.back a {
    color: #8b1118;
    font-family: 'Libre Baskerville', serif;
}

.register a {
    color: #8b1118;
    font-family: 'Libre Baskerville', serif;
}

@media screen and (max-width: 768px) {
    .forms {
        left: 50%;
        margin-top: 80px;
    }

    body {
        width: 100%;
        height: 100vh;
        z-index: -2;
       
        background-size: cover;
        background-position: center center;
    }

    .alert {
        width: 300px;
        height: 60px;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
    }

}